body {
	margin: 0px;
	font-family: "Courier New", Courier, monospace;
}

#header {
	height: 50px;
}

.navigation {
	z-index: 999;
	position: fixed;
	height: 60px;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;

	//background-color: #8FBC8F;
	background-color: white;

	list-style-type: none;
	overflow: hidden;
}

.siteName{
	position: fixed;
	float: right;
	width: 350px;
	text-align: left;
	text-indent: 20%;
	font-family: 'Abel',Courier;
	padding-top: 15px;
	font-size: 30px;
	float:left;
	//color: white;
	color: black;
	text-decoration: overline;
	display: block;
}

.menuList {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	text-decoration: none;
	height: 60px;
	float:right;
	padding: 22px 16px;
	color: black;
	display: block;
}

.menuList:hover:not(#active) {
	transition: 1s;
	text-decoration: underline;
	background-color: salmon;
}

#active{
	text-decoration: underline;
	font-weight: bold;
	//background-color: #629262;
}

#fullMenu {
	z-index: 990;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: lightgray;
	display: none;
	text-align: center;
}

ul.fullMenu {
	width: 100%;
	list-style: none;
	text-decoration: none;
	text-align: left;
}

.fullMenu:hover:not(#activeFull) {
	transition: 1s;
	text-decoration: underline;	
}

#activeFull {
	text-decoration: underline;
	font-weight: bold;
}

.fullMenu {
	font-family: "Courier New", Courier, monospace;
	font-size: 16px;
	text-decoration: none;
	height: 60px;
	float:left;
	padding: 22px 16px;
	color: black;
	display: block;
}

a.fullMenu {
	width: 100%;
}