body {
	margin: 0px;
	font-family: "Courier New", Courier, monospace;
}

.header {
	height: 50px;
}

.navigation {
	z-index: 999;
	position: fixed;
	height: 50px;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #8FBC8F;
	list-style-type: none;
	overflow: hidden;
	min-width: 630px;
}

.siteName{
	position: fixed;
	float: right;
	width: 350px;
	text-align: left;
	text-indent: 20%;
	font-family: 'Abel',Courier;
	padding-top: 4px;
	font-size: 30px;
	float:left;
	color: white;
	display: block;
}

.menuList {
	font-family: "Courier New", Courier, monospace;
	text-decoration: none;
	height: 50px;
	float:right;
	padding: 14px 16px;
	color: white;
	display: block;
}

.menuList:hover:not(#active) {
	transition: 0.3s;
	background-color: salmon;
}

#active{
	background-color: #629262;
}

